<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск</title>
	<style>
	body {background-color:#F7D0B4}
	h1   {color:159927}
	p    {color:159927}
	</style>
</head>
<body style="font-family:'Comic Sans MS', cursive">
<h1>Поиск</h1>
<hr>
<p>Введите слово, которое встречалось в опросе(договор, апостроф, баловать).<br>
Поиск выдаст вам количество людей, которые сделали в этом слове ошибку.</p>
<form>
    <label>Ваше слово: <input type="text" name="slovo"> </label><br>
	<input type="submit" value="Отправить">
</form>
<a href="{{anketa}}">Пройти опрос ещё раз</a><br>
<a href="{{stats}}">Статистика</a><br>
<a href="{{jsones}}">Данные в формате json</a><br>
</body>
</html>